<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 mx-sm-5 mx-md-5 mx-lg-5">To do list</span>
    </div>
</nav>

<div class="mx-sm-5 mx-md-5 mx-lg-5">
    <div class="fw-bold m-2">Add</div>
    
    <div class="d-flex align-items-center">
        <input type="text" class="form-control mx-2" [(ngModel)]="newTodoBody">
        <Button type="button" class="btn p-0 me-2" (click)="addTodo()">
            <span class="bi bi-plus-square fs-2"></span>
        </Button>
    </div>
</div>

<div *ngIf="completedTasks.length" class="mx-sm-5 mx-md-5 mx-lg-5">
    <div class="fw-bold m-2 mt-4">Completed tasks</div>

    <ul class="list-group list-group">
        <li *ngFor="let task of completedTasks"
            class="list-group-item d-flex justify-content-between align-items-start">
            <input class="form-check-input" type="checkbox" checked="true" (change)="toggleCompletness(task)">
            <div class="ms-2 me-auto">
                <div class="fw-normal text-secondary text-decoration-line-through">{{ task.body }}</div>
            </div>
            <Button type="button" class="btn p-0 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="openModalUpdateTask(task)">
                <span class="bi bi-pencil"></span>
            </Button>
            <Button type="button" class="btn p-0 mx-1" (click)="deleteTodo(task)">
                <span class="bi bi-trash text-danger"></span>
            </Button>
        </li>
    </ul>
</div>

<div *ngIf="todoTasks.length" class="mx-sm-5 mx-md-5 mx-lg-5">
    <div class="fw-bold m-2 mt-4">To do tasks</div>

    <ul class="list-group list-group">
        <li *ngFor="let task of todoTasks" class="list-group-item d-flex justify-content-between align-items-start">
            <input class="form-check-input" type="checkbox" (change)="toggleCompletness(task)">
            <div class="ms-2 me-auto">
                <div class="fw-normal">{{ task.body }}</div>
            </div>
            <Button type="button" class="btn p-0 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="openModalUpdateTask(task)">
                <span class="bi bi-pencil"></span>
            </Button>
            <Button type="button" class="btn p-0 mx-1" (click)="deleteTodo(task)">
                <span class="bi bi-trash text-danger"></span>
            </Button>
        </li>
    </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit to-do</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mx-auto"
                    [(ngModel)]="editedTask.body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="updateTask()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>